<h1>Listing market_orders</h1>

<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th>Bid</th>
      <th>Ask</th>
      <th>Exchange order number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @market_orders.each do |market_order| %>
      <tr>
        <td><%= market_order.stock %></td>
        <td><%= market_order.bid %></td>
        <td><%= market_order.ask %></td>
        <td><%= market_order.exchange_order_number %></td>
        <td><%= link_to 'Show', market_order %></td>
        <td><%= link_to 'Edit', edit_market_order_path(market_order) %></td>
        <td><%= link_to 'Destroy', market_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Market order', new_market_order_path %>
